.footer {
  display: flex;
  flex-direction: column;
  background-image: url(../web/Algodon_fondo.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  height: 20rem;
  position: relative;
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
  padding: 0 30rem;
}

.footer__tittle {
  font-size: 7rem;
  font-weight: 700;
}

.footer__nav-list {
  list-style: none;
  font-family: "Dongle", sans-serif;
  font-size: 5rem;
}

.footer__link {
  text-decoration: none;
  color: black;
}

.footer__vacantes {
  text-align: center;
  line-height: 2;
}

.footer__bajada {
  font-family: "Dongle", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  line-height: 0.5;
}

.footer__btn {
  border-radius: 50px;
  background-color: #2b6100;
  color: white;
  font-family: "Dongle", sans-serif;
  font-size: 7rem;
  padding: 1rem;
  text-decoration: none;
  margin-top: 5rem;
}

.footer__social {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: center;
}

.footer__social-list {
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer__social-icon {
  width: 4rem;
  margin-right: 1rem;
}

.footer__bottom {
  background: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
}

.footer__bottom-logo {
  width: 10rem;
}

.footer__bottom-txt {
  font-family: "Dongle", sans-serif;
  font-size: 7rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
