/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

body {
  background-color: transparent;
}

@font-face {
  font-family: FuenteDongle;
  src: url(/fuentes/dongle-bold.ttf);
}

.grid-layout {
  display: grid;
  grid-template-columns: auto auto auto auto; /*le coloco 50% porque si le coloco auto el justify content:center hace que se achiquen xq las lleva al centro*/
  grid-template-rows: auto auto auto auto;
  margin: 0 auto;
  position: relative;
  /*top: -155px;
    z-index: -1;*/
}
.caja {
  background-color: gray;
  text-align: center;
  line-height: 150px;
}
.c1 {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  background-image: url(../imagenes/Pexels\ Photo\ by\ cottonbro.png);
  background-size: cover;
  background-position: center;
  height: 974px;
  width: auto; /*1920px;*/
  background-repeat: no-repeat;
}
.c2 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  height: 806px;
  width: 606px;
  margin: 0 auto;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 19px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
}

form h3 {
  padding-top: 22px;
  text-align: start;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 86.88px;
}

form h4 {
  text-align: start;
}

.input__padres {
  display: flex;
  flex-direction: column;
}

.input__nombre {
  margin-top: 14px;
  margin-bottom: 24px;
  background: #ffffff;
  border: 1px solid #4557f6;
  border-radius: 19px;
  height: 49px;
  width: 537px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 18px;
}

.input__nombre::placeholder {
  color: black;
  padding-top: 12px;
  padding-left: 16px;
}

.input__email {
  margin-bottom: 24px;
  background: #ffffff;
  border: 1px solid #4557f6;
  border-radius: 19px;
  height: 49px;
  width: 537px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 18px;
}

.input__email::placeholder {
  color: black;
  padding-top: 12px;
  padding-left: 16px;
}

.input__telefono {
  background: #ffffff;
  border: 1px solid #4557f6;
  border-radius: 19px;
  height: 49px;
  width: 537px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 18px;
  margin-bottom: 14px;
}
.input__telefono::placeholder {
  color: black;
  padding-top: 12px;
  padding-left: 16px;
}
.input__alumno {
  display: flex;
  flex-direction: column;
}

.input__edad {
  margin-bottom: 24px;
  background: #ffffff;
  border: 1px solid #4557f6;
  border-radius: 19px;
  height: 49px;
  width: 537px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 18px;
}
.input__edad::placeholder {
  color: black;
  padding-top: 12px;
  padding-left: 16px;
}

form h5 {
  text-align: start;
  margin-top: 15px;
  margin-left: 17px;
  font-family: "Dongle", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.input__check {
  background: #ffffff;
  border: 1px solid #4557f6;
  border-radius: 19px;
  height: 120px;
  width: 537px;
  box-sizing: border-box;
}

.input__checkbox {
  line-height: 18px;
  text-align: start;
  margin-top: 11px;
  margin-left: 13px;
  font-family: FuenteDongle;
  font-size: 32px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
#check2 {
  margin-top: 12px;
}

.boton {
  display: flex;
  margin-top: 24px;
}
.button__reservar {
  height: 65px;
  width: 225px;
  border-radius: 20px;
  background: #4557f6;
  border: 1px solid #4557f6;
  color: #ffffff;
  font-family: Dongle;
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 310px;
}
