/*.navbar {
  background: url(../web/Algodon_fondoNAV.png);
  background-repeat: repeat-x;
  background-size: contain;
  position: relative;
  z-index: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20rem;
  padding-top: 5rem;
}

.nav__logo {
  margin-top: -10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 8rem;
  width: 25%;
}

.nav__logo-img {
  width: 10rem;
}

.nav__title {
  width: 27%;
  font-family: "Dongle", sans-serif;
  font-size: 7rem;
  font-weight: 600;
  color: #4557f6;
  margin-top: 1.2rem;
  margin-left: 1rem;
  line-height: 0.5;
}

.nav__container {
  margin-top: -10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  width: 80%;
}

.nav__list-item {
  margin: 0 3rem;
}
.nav__list-link {
  font-family: "Dongle", sans-serif;
  font-size: 7rem;
  color: #4557f6;
  text-decoration: none;
}

.nav__list-social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  margin-left: -5rem;
}

.nav__social-logo {
  width: 5rem;
  margin-right: 1rem;
}
*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

html {
  font-size: 62.5%;
}

.navbar {
  background: url(../web/Algodon_fondoNAV.png);
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 11.5rem;
  background-repeat: repeat-x;
  background-size: cover;
  position: relative;
  z-index: 999;
}

.navbar-expand-lg {
  align-items: baseline;
}
.nav-item {
  font-family: Dongle;
  font-size: 3.6rem;
  font-weight: 400;
  color: #4557f6;
}
.nav-link {
  margin: 0 0.5rem;
}
.nav-link img {
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 1rem;
}
.navbar-brand {
  font-size: 4.8rem;
  height: 2.9rem;
  font-family: Dongle;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 0.5rem;
  letter-spacing: 0em;
  color: #4557f6;
  width: 27%;
}

.nav__links a {
  margin-right: 5rem;
}

.navbar-toggler {
  border: none;
}

span {
  display: contents;
}

/*QUERIES*/

@media (max-width: 576px){

  .navbar-brand{
    margin-right: 300px;
  }

  .not__show{
    display: none;
  }


}
