/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

@font-face {
  font-family: FuenteDongle;
  src: url(/fuentes/dongle-bold.ttf);
}

body {
  background: linear-gradient(
    157.84deg,
    #4557f6 -0.67%,
    #4557f6 -0.67%,
    #4557f6 -0.66%,
    rgba(33, 174, 139, 0.479215) 47.95%,
    rgba(0, 255, 41, 0) 96.57%
  );
}
.grid-layout {
  display: grid;
  grid-template-columns: 134px 134px 134px 134px 134px 134px 134px 134px 134px 134px 134px 134px;
  grid-template-rows: auto auto auto auto;
  margin: 0 auto;
  padding: 20px;  
  justify-content: center;
  /*background-color: green;
  border: 1px solid black;*/
}

.caja {
  border: 1px solid black;
  background-color: gray;
  text-align: center;
  line-height: 150px;
  margin: 24px;
}

/*PLAN EDUCATIVO*/

.section__1{
  background-image: url(../imagenes/Ellipse\ 16.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__1 h1{
  font-family: Dongle;
  font-size: 96px;
  font-weight: 700;
  line-height: 139px;
  letter-spacing: 0em;
}
.c1 {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  background-image: url(../imagenes/Ellipse\ 20.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 626px;
}

.c2 {
  grid-column: 7 / 11;
  grid-row: 1 / 2;
  line-height: 22.88px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-family: Dongle;
  font-size: 32px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;

}

.c2 h3{
  font-family: FuenteDongle;
  font-size: 64px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}
.c2 ul {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
  opacity: 0.8;
  backdrop-filter: blur(12px);
  border-radius: 24px;
}
.c3 {
  grid-column: 11 / 13;
  grid-row: 1 / 2;
  background-image: url(../imagenes/N.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.c4 {
  grid-column: 1 / 3;
  grid-row: 2/3;
  background-image: url(../imagenes/A.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 339.8px;
}
.c5 {
  grid-column: 3/ 6;
  grid-row: 2/ 3;
  line-height: 22.88px;
  text-align: left;
  font-family: Dongle;
  font-size: 32px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
}
.c5 h3{
  font-family: FuenteDongle;
  font-size: 64px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}
.c5 ul {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
  opacity: 0.8;
  backdrop-filter: blur(12px);
  border-radius: 24px;
}
.c6 {
  grid-column: 6/7;
  grid-row: 2/3;
  background-image: url(../imagenes/image\ 1.png);
  background-size: contain;
  width: 200px;
  background-repeat: no-repeat;
  justify-content: center;
  width: 246px;
  margin-left: -20px;
}
.c7 {
  grid-column: 7/13;
  grid-row: 2/3;
  background-image: url(../imagenes/Ellipse\ 19.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 626px;
  /*margin-top:-90px;*/
}

.c8 {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  background-image: url(../imagenes/Ellipse\ 18.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 626px;
  margin-top: -100px;
}

.c9 {
  grid-column: 7 / 11;
  grid-row: 3 / 4;
  line-height: 22.88px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-family: Dongle;
  font-size: 32px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justified;
}

.c9 h3{
  font-family: FuenteDongle;
  font-size: 64px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justified;
}
.c9 ul {
  background: #ffffff;
  opacity: 0.8;
  backdrop-filter: blur(12px);
  border-radius: 24px;
}
.robot {
  text-align: center;
  margin-top: 146px;
}
.c10 {
  grid-column: 11 / 13;
  grid-row: 3 / 4;
  background-image: url(../imagenes/L.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 450px;
  margin-top: 189px;
  /*width: 253.96px;*/
}

/*ACTIVIDADES INTERNAS*/

.section__2{
  background-image: url(../imagenes/Ellipse\ 17.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__2 h3{
  font-family: Dongle;
  font-size: 96px;
  font-weight: 700;
  line-height: 139px;
  letter-spacing: 0em;
}
.c11 {
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(../imagenes/g.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300.69px;
}

.c12 {
  grid-column: 3/8;
  grid-row: 1/2;
  background-image: url(../imagenes/Ellipse\ 23.png);
  height: 506px;
  width: 506px;
  background-size: contain;
  background-repeat: no-repeat;
}

.c13 {
  grid-column: 8/13;
  grid-row: 1/2;
  background-image: url(../imagenes/Ellipse\ 21.png);
  height: 506px;
  width: 506px;
  background-size: contain;
  background-repeat: no-repeat;
}

.c14 {
  grid-column: 3/7;
  grid-row: 2/3;
  line-height: 22.88px;
  text-align: justify;
}

.c14 h3{
  font-family: FuenteDongle;
  font-size: 64px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}

.c15 {
  grid-column: 8/12;
  grid-row: 2/3;
  line-height: 22.88px;
  text-align: justify;
}

.c15 h3{
  font-family: FuenteDongle;
  font-size: 64px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align:justify;  
}

.c16 {
  grid-column: 1/5;
  grid-row: 3/4;
  background-image: url(../imagenes/e.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.c17 {
  grid-column: 5/9;
  grid-row: 3/4;
  height: 506px;
  background-size: contain;
  background-image: url(../imagenes/Ellipse\ 25.png);
  background-repeat: no-repeat;
}

.c171 {
  grid-column: 5/9;
  grid-row: 4/5;
  font-family: FuenteDongle;
  font-size: 32px;
  font-weight: 300;
  line-height: 22.88px;
  letter-spacing: 0em;
  text-align: justify;
}

.c171 h3{
  font-family: FuenteDongle;
  font-size: 64px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}
.c18 {
  grid-column: 9/13;
  grid-row: 3/5;
  background-image: url(../imagenes/F.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*ACTIVIDADES EXTRACURRICULARES*/

.section__3{
  background-image: url(../imagenes/Ellipse\ 17.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__3 h3{
  font-family: Dongle;
  font-size: 96px;
  font-weight: 700;
  line-height: 139px;
  letter-spacing: 0em;
}
.grid-layout2 {
  display: grid;
  grid-template-columns: 134px 134px 134px 134px 134px 134px 134px 134px 134px 134px 134px 134px;
  grid-template-rows: auto auto;
  margin: 0 auto;
  background-color: green;
  padding: 20px;
  border: 1px solid black;
  justify-content: center;
}

.c19 {
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(../imagenes/S.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.c20 {
  grid-column: 3/7;
  grid-row: 1/2;
  background-image: url(../imagenes/Ellipse\ 245.png);
  height: 506px;
  width: 506px;
  background-size: contain;
  background-repeat: no-repeat;
}

.c21 {
  grid-column: 7/11;
  grid-row: 1/2;
  background-image: url(../imagenes/Ellipse\ 22.png);
  height: 506px;
  width: 506px;
  background-size: contain;
  background-repeat: no-repeat;
}

.c22 {
  grid-column: 11/13;
  grid-row: 1/2;
}

.c221 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.c23 {
  grid-column: 3/7;
  grid-row: 2/3;
  font-family: Dongle;
  font-size: 32px;
  font-weight: 300;
  line-height: 22.88px;
  letter-spacing: 0em;
  text-align: justify;
}
.c23 h3 {
  font-family: Dongle;
  font-size: 50px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}

.c24 {
  grid-column: 7/11;
  grid-row: 2/3;
  font-family: Dongle;
  font-size: 32px;
  font-weight: 300;
  line-height: 22.88px;
  letter-spacing: 0em;
  text-align: justify;
}
.c241 {
  grid-column: 11/13;
  grid-row: 2/3;
}
.c24 h3 {
  font-family: Dongle;
  font-size: 50px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}

/*HORARIO ESCOLAR*/

.section__4{
  background-image: url(../imagenes/Ellipse\ 17.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 238px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__4 h3{
  font-family: Dongle;
  font-size: 96px;
  font-weight: 700;
  line-height: 139px;
  letter-spacing: 0em;
}

.c25 {
  grid-column: 3/7;
  grid-row: 1/2;
  background-image: url(../imagenes/Ellipse\ 24.png);
  height: 506px;
  width: 506px;
  background-size: contain;
  background-repeat: no-repeat;
}
.c26 {
  grid-column: 7/11;
  grid-row: 1/2;
  background-image: url(../imagenes/Ellipse\ 2221.png);
  height: 506px;
  width: 506px;
  background-size: contain;
  background-repeat: no-repeat;
}

.c27 {
  grid-column: 11/13;
  grid-row: 1/2;
  background-image: url(../imagenes/W.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.c28 {
  grid-column: 3/7;
  grid-row: 2/3;
  font-family: Dongle;
  font-size: 32px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
}
.c28 h3 {
  font-family: FuenteDongle;
  font-size: 50px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}
.c29 {
  grid-column: 7/11;
  grid-row: 2/3;
  font-family: Dongle;
  font-size: 32px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: justify;
}
.c29 h3 {
  font-family: FuenteDongle;
  font-size: 50px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: justify;
}

/*PRUEBA NAVEGACION*/

html {
  scroll-behavior: smooth;
}

.nav2 {
  --nav-gap: 15px;
  padding: var(--nav-gap);
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-item1 {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--nav-gap);
}

/*.nav-link1:hover ~ .nav-label1 {
  opacity: 1;
}*/

.nav-label1 {
  color: #000000;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.1s;
}

.nav-link1 {
  background: #c4c4c4;
  border-radius: 50%;
  height: var(--nav-gap);
  margin-left: var(--nav-gap);
  transition: transform 0.1s;
  width: var(--nav-gap);
}

.nav-link-selected {
  background: #ffffff;
  transform: scale(1.4);
  width: 15px;
  border-radius: 55.19px;
  height: 40px;
}
